<%= partial(:'header') %>
<div class="privacy">
  <div class="col-xs-12">
    <h2>Privacy Policy</h2>
    <p>
      Your privacy is important, so <%== $settings.name %> has created the following Privacy Policy to let you know what information
      we collect when you visit our website or use our phone services, why we collect it and how it is used.
    </p>

    <p>
      The terms "you," "your," and "yours" refer to the customer using our website.  The terms "Company," "we," "us,"
      and "our" refer to <%== $settings.name %>. This Privacy Policy is governed by our <a href="/terms">Terms of Service</a>. By
      using this website or our telephony products, you consent to the data practices described in this statement. We
      may periodically make changes to this Privacy Policy that we will include on this page. It is your responsibility
      to review this Privacy Policy frequently and remain informed about any changes to it, so we encourage you to
      visit this page often.
    </p>

    <h4>What Information Is Collected?</h4>

    <p>
      "Personally identifiable information" means any information that may be used to identify
      an individual, including, but not limited to, a first and last name, home or other physical
      address, an email address, phone number or other contact information, whether at work
      or at home. When you use our website or services <%== $settings.name %> may collect from you the
      following personally identifiable information: first and last name, city, state and zip
      code, email address, birthday and phone number. <%== $settings.name %> also automatically receives and
      records information on our server logs from your browser, including your IP address,
      cookie information and the page you request. You can choose not to provide us with
      certain information, but then you might not be able to take advantage of many of our
      features.
    </p>

    <p>
      <%== $settings.name %> may keep a cached copy of the content you serve us as a part of your use of the
      service for an indeterminate amount of time, including media files and data files. To
      assist in development, we may keep copies of HTTP requests and responses in your
      notification log, available only to you. If your web server does not specify that we can
      cache your content, we will not keep a cached copy of any text or audio data transmitted
      through our service during calls, but we may still maintain copies in your notification
      log. If data privacy is a concern, make sure your server does not allow us to cache such
      content, and contact us so that we may turn off other application logging around requests
      to and responses from your application. We may keep call log, notification log, billing/
      payment, and other log data for at least six months from the date of entry.
    </p>

    <h4>How Is Such Information Used?</h4>

    <p><%== $settings.name %> uses the personally identifiable and other collected information in a manner that
      is consistent with this Privacy Policy. If you provide personally identifiable information
      for a certain reason, we may use the personally identifiable information in connection
      with the reason for which it was provided. For instance, if you contact us by e-mail, we
      will use the personally identifiable information you provide to answer your question
      or resolve your problem. Also, if you provide personally identifiable information in
      order to obtain access to the <%== $settings.name %> website or services, we will use such information
      to provide you with access to such services and to monitor your use of such services.
      Your personally identifiable information may be used to provide you with new product
      information and support services offered on the website, to notify you of technical
      updates or changes in policy, to improve the content and functionality of the <%== $settings.name %>
      website and services, to help us better understand our users, or to deliver other services.</p>

    <h4>Is The Information Shared or Disclosed?</h4>

    <p><%== $settings.name %> is not in the business of selling your information. We consider this information to
      be a vital part of our relationship with you. There are, however, certain circumstances in
      which we may share your personally identifiable information with certain third parties
      without further notice to you, as set forth below:</p>

    <ul>
      <li><strong>Third Party Applications and Services:</strong>
        If you elect to use one or more third
        party applications that interoperate with <%== $settings.name %>’s services, those
        applications may upon your election be given access to data (which may include
        personally identifiable information) on <%== $settings.name %>’s systems generated in connection with
        your use of <%== $settings.name %>’s service. Please remember that <%== $settings.name %> is not responsible for the
        policies and practices of third party application providers, and <%== $settings.name %> shall have no
        liability arising from any action of any such provider as it concerns your data or
        information or otherwise. In connection with your use of any such third party
        applications, please review carefully the applicable privacy policies each such third party
        application provider to become familiar with their policies and practices as it concerns
        your data and information.</li>
      <li><strong>Business Transfers:</strong>
        As we develop our business, we might sell or buy
        businesses or assets. In the event of a corporate sale, merger, reorganization, dissolution
        or similar event, personally identifiable information may be part of the transferred assets.
        You acknowledge that such transfers may occur, and that any acquirer or successor of
        <%== $settings.name %> may continue to use your information as set forth in this policy.</li>
      <li><strong>Related Companies:</strong>
        We may also share your personally identifiable information
        with any entity that is affiliated with us for purposes consistent with this Privacy Policy.</li>
      <li><strong>Agents, Consultants and Related Third Parties:</strong>
        <%== $settings.name %>, like many businesses,
        sometimes uses other companies to perform certain business-related functions. Examples
        of such functions include mailing information, maintaining databases and processing
        payments. When we employ another company to perform a function of this nature, we
        only provide them with the information that they need to perform their specific function.</li>
      <li><strong>Legal Requirements and Other Circumstances:</strong>
        <%== $settings.name %> may disclose your
        personally identifiable information if required to do so by law or in the good faith belief
        that such action is necessary to (i) comply with a legal obligation, (ii) protect and defend
        the rights or property of <%== $settings.name %>, (iii) act in urgent circumstances to protect the personal
        safety of users of the <%== $settings.name %> website or services or the public, or (iv) protect against legal
        liability.</li>
    </ul>

    <h4>Access</h4>

    <p>In the event that you have volunteered personally identifiable information, you may correct or amend that
      information by editing your account profile or email us at cs@<%== $settings.name %>.com</p>

    <h4>The Security of Your Information</h4>

    <p>We will take reasonable precautions to protect personally identifiable information in
      our possession from loss, misuse, and unauthorized access, disclosure, alteration, and
      destruction. We follow generally accepted industry standards to protect the personally
      identifiable information submitted to us, both during transmission and once we receive it.
      No method of transmission over the Internet or method of electronic storage is, however,
      100% secure. Therefore, while we strive to use commercially acceptable means to protect
      your personally identifiable information, we cannot guarantee its absolute security.</p>

    <h4>Children</h4>

    <p><%== $settings.name %> is not intended for or directed to persons under the age of 13.  Any person who provides their
      information to <%== $settings.name %> represents to us that they are 13 years of age or older.</p>

    <h4>Cookies</h4>

    <p>Cookies are small text files stored by your browser in your computer when you visit our website.  Cookies permit
      us to recognize users and avoid repetitive requests for the same information.  Most browsers will accept cookies
      until you change your browser settings to refuse them.  This privacy statement covers the use of cookies by
      <%== $settings.name %> and does not cover the use of cookies by any other third party.</p>

    <h4>Forums and Comments</h4>

    <p>If you use the forum or post comments on this website, you should be aware that any
      personally identifiable information you submit there can be read, collected, or used by
      other users of these forums, and could be used to send you unsolicited messages. <%== $settings.name %>
      is not responsible for any personally identifiable information you choose to submit in that
      context or anything arising from such submissions.</p>

    <h4>Links to Other Sites</h4>

    <p>This website may contain links to other sites that are not owned or controlled by us.
      Please be aware that <%== $settings.name %> is not responsible for the privacy policies of such other sites.
      We encourage you to be aware when you leave our site and to read the privacy statements
      of each and every website that collects personally identifiable information. This privacy
      policy applies only to information collected by this website.</p>

    <h4>Your Consent To This Privacy Policy</h4>

    <p>By using <%== $settings.name %>, you agree to this Privacy Policy. This is our entire and exclusive
      Privacy Policy and it supersedes any earlier version. Our <a href="/terms">Terms of Service</a> take
      precedence over any conflicting Privacy Policy provision. We may change this Privacy
      Policy by posting a new version of this Privacy Policy on this website which it is your
      responsibility to review. We encourage you to periodically review this Privacy Policy
      to stay informed about how we are protecting the personally identifiable information
      we collect. Your continued use of this website or <%== $settings.name %>’s services constitutes your
      agreement to this Privacy Policy and any updates.</p>

    <h4>Legal Disclaimer</h4>

    <p><%== $settings.name %> operates "AS-IS" and "AS-AVAILABLE," without liability of any kind.  <%== $settings.name %> is not responsible for
      events beyond our direct control.</p>

    <h4>Contacting <%== $settings.name %></h4>

    <p>If you believe that <%== $settings.name %> has not adhered to this Privacy Policy, please contact us by email at
      cs@<%== $settings.name %>.com or by postal mail at <%== $settings.name %> Inc., 2017 Woolsey St Berkeley, CA 94703 and we will use commercially
      reasonable efforts to remedy the problem.</p>

    <h4>Last Updated</h4>

    <p>May 7, 2014</p>

  </div>
</div>